<!-- footer start -->
{% load static %}
<footer class="footer bg-style wow fadeInUp">
    <div class="container">
        <div class="footer-upper">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="footer-widget about-widget">
                        <a href="#">
                            <img alt="" src="{% static 'image/logo2.png' %}" />
                        </a>
                        <p>Umeed Builder & Constructor is a Proud to Present to You - <b>Umeed Nagar Township</b>. It is
                            a specially curated society with state-of-art facility which is design keeping to you and
                            your family in mind!</p>
                        <div class="social-icons footer_icon">
                            <ul>
                                <li><a href="https://www.facebook.com/blogging2020"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-12"></div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="footer-widget quick-links">
                        <h3 class="title">Quick links</h3>
                        <ul>
                            <li><a href="{% url 'homepage' %}">Home</a> </li>
                            <li><a href="{% url 'aboutpage' %}">About Us</a> </li>
                            <li><a href="{% url 'careerpage' %}">Career</a> </li>
                            <li><a href="{% url 'contactpage' %}">Contact Us</a> </li>
                        </ul>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                            Request Site Visit</button>
                    </div>
                </div>
                <div class="col-md-1 col-sm-12"></div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="footer-widget">
                        <h3 class="title">Contact Info</h3>
                        <ul class="footer-adress">
                            <li class="footer_address"><i class="fas fa-map-signs"></i><span>&nbsp;<b>Patna Address :
                                    </b>Ranipur milki chak, Mircha Road, Near Bypass thana, Patna-800008</span> </li>
                            <li class="footer_address"><i class="fa fa-map-marker"></i><span>&nbsp;<b>Biharsharif
                                        Location : </b>Near K.S.T. College, Noorsarai Road, Sohsarai, Biharsharif,
                                    Nalanda - 803118</span> </li>
                            <li class="footer_email"><i class="fas fa-envelope" aria-hidden="true"></i><span><a
                                        href="mailto:rishab.w.singh1234@gmail.com">rishab.w.singh1234@gmail.com
                                    </a></span></li>
                            <li class="footer_phone"><i class="fas fa-phone-alt"></i><span><a
                                        href="#">+91-9022489938/ 74 / 75</a></span> </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>


    </div>
</footer>
<hr style="border: 1px solid #808080; margin-top: 0px; margin-bottom: 0px" />

<div class="footer-bottom">
    <div class="container">
        <p>
            &copy; 2020 Umeed Nagar Township. All Right Reserved. Designed by <a href="https://ontrick.xyz"
                target="_blank">Integrated Software Enterprises.</a>
        </p>
    </div>
</div>
<!--Footer End-->