 {% extends 'homeapp/base.html' %}
 {% block body %}
 {% include 'homeapp/navbar.html' %}
{% include 'homeapp/modal.html' %}
 <div class="innerHeading">
        <div class="container">
            <h1>Technology</h1>
        </div>
    </div>
    <!--Inner Heading End-->

    <!--Inner Content Start-->
    <div class="innercontent" style="padding-top: 30px; padding-bottom: 20px">
        <div class="container">
            
            <div class="row jumbotron" style="margin-top: 20px; padding: 20px 40px">
                <div class="col-md-12">
                    <h4>Technologies at Umeed Nagar Township :</h4>
                    <br />
                </div>
                <div class="col-md-6">
                    <ul class="ul">
                        <li>Earthquake resistance R.C.C.</li>
                        <li>P.O.P over cement plaster</li>
                        <li>Plastic paint over P.O.P.</li>
                        <li>Acrylic Water Proof paint over Texture
                            </li>
                        <li>Tow track Sliding Aluminium Window with glass</li>
                        <li>Flush Door (Without primer)</li>
                        <li>Wooden Frame</li>
                        <li>Multi Gym with apparatus</li>
                    <li>24X7 Security system with CCTV surveillance system</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="ul">
                        <li>Concealed electrical wiring with fire resistance PVC insulated industrial grade</li>
                        <li>Copper wire and modular switches</li>
                        <li>Cable TV Points In Master bedroom and Drawing Room </li>
                        <li>Aqua Guard point in kitchen</li>
                        <li>Geyser points in toilets & Kitchen</li>
                        <li>Chimney point in kitchen</li>
                        <li>10 Nos Power Coated Lift (2 Nos x 5 Blocks)</li>
                        <li>Landscape Garden With Children Play Equipments
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include "homeapp/footer.html" %}
    {% endblock %}